#main-container {
    width: 960px;
    margin: 0 480px;
}

#main-container h2 {
    text-align: center;
}

.date-area {
    text-align: center;
}

#create-reservation-btn {
    margin: 10px auto;
}

.create-reservation-area {
    text-align: center;
}

#create-reservation {
    width: 400px;
    margin: 30px auto;
}

#create-reservation tbody th {
    width: 50px;
    background-color: lightgray;
}

#create-reservation tbody td {
    padding-left: 10px;
    text-align: left;
}

.time {
    width: 110px;
}

.error {
    color: red;
    font-size: 13px;
    font-weight: bold;
    margin: 7px 0;
}

#repeat-no {
    display: inline-block;
}

#repeatNum {
    width: 30px;
}

.timetable {
    margin: 10px auto;
}

.timetable tbody th {
    background-color: lightgray;
}

.timetable tbody th,td {
    width: 100px;
    height: 50px;
}

.reservation-area {
    position: absolute;
}

.reservation-area dl {
    margin: 0;
    background-color: lightblue;
    position: absolute;
    width: 100px;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reservation-area dl dt {
    text-align: center;
    font-weight: bold;
}