<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회의실 예약 현황</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/reservation.css"/>
</head>
<body>
    <div id="main-container">
        <h2> 회의실 예약 현황 </h2>
        <div class="date-area">
            <input type="date" id="selectDate"/>
            <input type="button" id="create-reservation" value="예약"/>
        </div>

        <div class="timetable-area">
            <table class="timetable">
            </table>
        </div>

        <div class="reservation-area">
        </div>
    </div>

<script src="/js/common.js"></script>
<script src="/js/reservation.js"></script>
</body>
</html>